*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  overscroll-behavior-y: none; 
  overscroll-behavior-x: contain;

  height: auto;          
  min-height: 100vh;        

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100vw;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

  .link-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }