.portfolio-projects {
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem 1.2rem;
    width: 90%;
  
    h2 {
      font-size: $size1;
      margin-bottom: 3rem;
      background: linear-gradient(to bottom, $color-neon, $color-blue);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.15) rotate(3deg);
      }
    }
  
    .projects-grid {
      display: grid;
      align-items: stretch;
      padding: 2rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  
    .project-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 2rem 3rem;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(12px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.08),
        inset 0 0 8px rgba(255, 255, 255, 0.05);
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      text-align: center;
      position: relative;
      overflow: hidden;
      line-height: 1.6;
  
      .card-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
  
      h3 {
        font-size: $size4;
        font-weight: 600;
        color: $color-blue;
        margin-bottom: 0.6rem;

        &::after {
            content: '';
            display: block;
            margin: 0.5rem auto 0;
            width: 90%;
            float: left;
            height: 1px;
            background: rgba(120, 120, 120, 0.15);
        }
      }
  
      p {
        font-size: $size5;
        color: $color-grey;
        margin-bottom: 1.5rem;
      }

      .project-icon {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        transition: transform 0.3s ease;
        color: $color-blue;
        padding: 0.5rem;

        &:hover {
            transform: scale(1.15) rotate(3deg);
          }
      }
  
      .project-link {
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        padding: 0.3rem 1rem;
        margin-inline: auto;
        font-size: 0.9rem;
        font-weight: 500;
        color: $color-blue;
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(97, 97, 97, 0.3);
        border-radius: 30px;
        text-decoration: none;
        transition: all 0.3s ease;
        width: max-content;
        cursor: pointer;
  
        i {
          transition: transform 0.3s ease;
        }
  
        &:hover {
          background: rgba(187, 187, 187, 0.04);
          border-color: $color-grey;
  
          i {
            transform: translateX(3px);
          }
        }
      }

      &:hover {
        box-shadow: 0 8px 25px rgba(0, 48, 79, 0.25), inset 0 0 10px rgba(255,255,255,0.05);
        transform: translateY(-5px);
      }
  
      * {
        position: relative;
        z-index: 1;
      }
    }

    @media screen and (max-width: 1024px) {
      .projects-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media screen and (max-width: 768px) {
      .projects-grid {
        grid-template-columns: 1fr;
      }
    }
  }

  
  