body {
  font-family: "Poppins", sans-serif;
  font-size: $size4;
  line-height: 1;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;

  .link-style {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
  }


.universal-box {
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(20px);
  border-radius: 16px;
  box-shadow:
    inset 0 0 2px rgba(255, 255, 255, 0.25),
    inset 0 0 8px rgba(255, 255, 255, 0.15),
    0 12px 36px rgba(94, 90, 90, 0.3),
    0 6px 18px rgba(89, 89, 89, 0.25);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    pointer-events: none;
    border: 1px solid rgba(170, 170, 170, 0.7);
    box-shadow:
      0 0 10px rgba(118, 118, 118, 0.6),
      0 0 20px rgba(123, 128, 127, 0.5),
      0 0 30px rgba(68, 80, 78, 0.4),
      0 0 50px rgba(57, 63, 62, 0.3);
  }
}