$color-blue: #15616D;
$color-beige: #FFECD1;
$color-orange: #FF7D00;
$color-brown: #78290F;
$color-white: rgba(255, 255, 255, 0.9);
$color-neon: #007F73;
$color-grey: rgba(80, 80, 80, 0.8);
$color-soft-pink: #ffd1dc;
$color-pink: #ff75a0;
$color-lavender: #d8b4f8;
$color-cream: #e6cfcb4d;

$size1: 2.3rem;
$size2: 2rem;
$size3: 1.5rem;
$size4: 1rem;
$size5: 0.95rem;
$size6: 1.2rem;